/* Page layout */
body {
    margin: auto 0;
    background-color: black;
    color: white;
}

.zone {
    font-size:1em;
    border-radius:4px;
    border: 1px gray;
}

a {
    font-weight: normal;
    text-decoration: none;
}

/* Add a black background color to the top navigation */
.main-nav {
  background-color: darkgrey;
  overflow: hidden;
  margin: auto 0;
  height: 3rem;
}

/* Style the links inside the navigation bar */
.main-nav a {
  float: left;
  text-align: center;
  color: #0072B2;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.main-nav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.main-nav a.active {
  background-color: #4CAF50;
  color: white;
}