/* Page layout */
body, html {
    margin: 0;
    background-color: black;
    color: white;
    /* color: #0072B2; */
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

/* Text */
p { 
  word-break: normal;
  white-space: normal;
  text-align: center;
  padding: 35px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(#00A9FE, #CB2FD0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 14px 16px;
  opacity: 1;
  text-decoration: none;
}

.topnav a.title {
  font-size: 1.2rem;
  top: -3px;
}

/* Hover to make link bold and underline text */
.topnav a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* Nav bar responsiveness */
.topnav .icon {
  display: none;
}

/* Put social media on right side of screen */
.topnav a.social {
  float: right;
}

/* Introduction */
.introduction {
  margin: auto;
  text-align: center;
  width: 50%;
  letter-spacing: 0.025rem;
  line-height: 1.6rem;
  text-align: justify;
  padding-bottom: 10px;
}

/* When the screen is less than 700 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a:not(:nth-child(-n+1)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  /* Put social media on left in nav menu when screen is too small */
  .topnav a.social {float: left;}
  /* Text width 75% if small screen */
  .introduction {
    width: 75%
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Hero */

/* The hero image */
.hero-image {
  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#index1 {
  background-image: url("images/cyberpunk_city_by_artursadlos_dbb7hcs.jpg");
}

#index2 {
  background-image: url("images/liberator_dsv_ii_by_stevereeves_dcpz7iy.jpg");
}

.hero-text {
  font-size: 1.5rem;
  text-align: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
}

.centered {
  text-align: center;
}

/* Collapsible */
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 1.5rem;
  border: 0.1px solid #2D2D2D;
}

.active, .collapsible:hover {
  background-color: #2D2D2D;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.collapsible:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
}

/* Essay covers */

.essay-hero-image {
  /* Set a specific height */
  height: 90%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.essay-hero-text {
  font-size: 2rem;
  text-align: center;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
#programbio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/liberator_dsv_ii_by_stevereeves_dcpz7iy.jpg");
}